CRICKET_APP_HOST=0.0.0.0
CRICKET_APP_PORT=7860
CRICKET_APP_SHARE=false
CRICKET_API_HOST=0.0.0.0
CRICKET_API_PORT=8001
CRICKET_MAX_UPLOAD_MB=10
CRICKET_LOG_LEVEL=INFO
CRICKET_CONFIDENCE_THRESHOLD=0.65
CRICKET_POSE_MIN_DETECTION_CONFIDENCE=0.05
