fastapi==0.112.4
starlette==0.38.6
uvicorn>=0.30.0
python-multipart>=0.0.9
mediapipe==0.10.14
opencv-python==4.9.0.80
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
Pillow==10.3.0
joblib==1.4.2
xgboost==2.0.3
gradio==4.44.1
huggingface-hub==0.24.0
pydantic==2.10.6



